:root {
  --primary-text: #000;
  --second-text: #737373;
  --accent-text: #0095F6;
  --extra-text: #C7C7C7;

  // border
  --black-alpha-10: rgba(0, 0, 0, 0.1);

  // button
  --button-hover: rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  background-color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}